img.portraitDean {
    border: 1px solid #ddd;
	float: left;
    border-radius: 10px;
    padding: 5px;
	box-shadow: 10px 10px 5px grey;
	margin-right: 20px;
	margin-bottom: 20px;
	}
p.portraitDean {
	color: maroon;
}

.blog {
	font-size: 18px;	
	color: darkred;
	text-align: center;
	margin-left: 2em;
}

div.container{
    width: 100%;
    border: 1px solid gray;
	flex-direction: row;
	justify-content: flex-end;
}

.date {
	text-decoration: underline;
	font-weight: bold;
	}
	
body {
	background-color: rgb(255,250,250);
	}
	
header {
    padding: 1em;
    color: Black;
    background: linear-gradient(rgb(250,200,200), white);
    clear: left;
    text-align: left;
	font-size: 18px;
}

footer {
    padding: 1em;
	font-size: 12px;
    color: black;
    background: linear-gradient(white, rgb(250,200,200));
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 180px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
	border: 1px solid #000;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	margin-top: 2px;
	border-radius: 4px;
	background: rgb(255,240,240);
}
   
nav ul a {
    text-decoration: none;
}

content{
	margin-top: 40px;
/*    border: 1px solid pink; */
	color: black; 
	font-size: 18; 
    overflow: hidden;
	margin-left: 20px;
	margin-right: 0px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
}

table { 
color: #333;
border: 1px solid;
font-family: monospace;
font-size: 12px;
border-collapse: seperate;
empty-cells: hide;
border-radius: 10px;
border-spacing: 0; 
}

thead 
{
background: (125,125,125);
color: (16,16,16);
font-family: ariel;
font-size: 14;
}

th {
background: (170,170,170);     /* Darken header a bit */
font-weight: bold;
border: 1px solid transparent; /* No more visible border */
transition: all 0.3s;          /* Simple transition for hover effect */
}

td {
background: (260,260,260);
text-align: left;
border: 1px solid transparent; /* No more visible border */
transition: all 0.3s;          /* Simple transition for hover effect */

}

tr:nth-child(even) td { background: #F1F1F1; }   
tr:nth-child(odd) td { background: #FEFEFE; }  
tr td:hover { background: #FAA; color: #FFF; }

table.fileview {
color:            #222;
border:           2px solid;
font-family:      monospace;
font-size:        18px;
border-collapse:  seperate;
empty-cells:      hide;
border-radius:    10px;
border-spacing:   4px; 	
	
}

td.fileview {
	padding-left:  3px;
	padding-right: 3px;
	padding-top:   3px;
	text-align:    left;
}
