<<<<<<< HEAD
/* Site defaults */
:root {
	--main-bg-color:    rgb(255,250,250,1);
	--main-text-color:  rgb(40,40,40);
	--main-font:        Helvetica, Arial, sans-serif;
}


/* Home page elements */
#portraitDean {
    border: 1px solid #ddd;
	float: left;
    border-radius: 10px;
    padding: 5px;
	box-shadow: 10px 10px 5px grey;
	margin-right: 20px;
	margin-bottom: 20px;
}
#portraitDean.p {
	color: maroon;
}

.blog {
	font-family: var(--main-font);
	font-size: 18px;	
	color: darkred;
	text-align: center;
	margin-left: 2em;
}

div.container{
    width: 100%;
    border: 1px solid gray;
	flex-direction: row;
	justify-content: flex-end;
}

.date {
	text-decoration: underline;
	font-weight: bold;
}
	
ul.mySubMenu :first-child {
	margin-top: 5px;
}	
ul.mySubMenu :last-child {
	margin-bottom: 5px;	
}
li.mySubMenu {
	border: 3px inset;
	margin: 1px 10px 1px 20px;
	padding: 5px 5px 5px 5px;
/*	border-width: 2px 2px 2px 2px;
	border-top: 0px; 
	border-right: 0px;*/
}


.mySubMenu {
	position: relative;
	display: block;
}

/* resume page */

.resume {
	height: 600px;
	width:   75%;
}

body {
	background-color: 	var(--main-bg-color);
	font-family: 		var(--main-font);
	}
	
header {
    padding: 1em;
    color: Black;
    background: linear-gradient(rgb(230,210,210) ,var(--main-bg-color));
    clear: left;
    text-align: left;
	font-size: 18px;
}

footer {
    padding: 1em;
	font-size: 12px;
    color: black;
    background: linear-gradient(white, rgb(245,240,240));
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 180px;
    margin: 0px 3px 0px 3px;
    padding: 5px 5px 5px 5px;

}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
	border: 1px solid #000;
	padding: 2px 2px 2px 2px;
	margin-top: 2px;
	border-radius: 4px;
	background: rgb(250,240,240);
	border-style: inset;

}
nav li:hover {
	background: rgb(230,210,210);	
}  
  
nav ul a {
    text-decoration: none;
}
/*
.submenu {
	border: none;
}
*/
content{
	margin-top: 10px;
/*    border: 1px solid pink; */
	color: black; 
	font-size: 18; 
    overflow: hidden;
	margin-left: 20px;
	margin-right: 0px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
}

table { 
	color: #333;
	border: 1px solid;
	font-family: monospace;
	font-size: 12px;
	border-collapse: seperate;
	empty-cells: hide;
	border-radius: 10px;
	border-spacing: 0; 
}

table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

table thead:first-child td:first-child {
    border-top-left-radius: 10px;
}

table thead:first-child td:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

thead 
{
	color: (16,16,16);
	font-family: ariel;
	font-size: 14;
}

th {
	font-weight: bold;
	border: 1px solid transparent; /* No more visible border */
	transition: all 0.3s;          /* Simple transition for hover effect */
	padding: 6px 12px;
}

th:hover {
	background-color: rgb(230,210,210);
	cursor: pointer;
}

td {
	text-align: left;
	border: 1px solid transparent; /* No more visible border */
	transition: all 0.3s;          /* Simple transition for hover effect */
	padding: 6px 12px;
}

tr:nth-child(even) td { background: #F1F1F1; }   
tr:nth-child(odd) td { background: #FEFEFE; }  
/* tr td:hover { background: #FAA; color: #FFF; } */

/* specific menu items 
	 -- better to move to seperate .css?
*/

table.fileview {
	color:            #222;
	border:           2px solid;
	font-family:      monospace;
	font-size:        18px;
	border-collapse:  seperate;
	empty-cells:      hide;
	border-radius:    10px;
	border-spacing:   4px; 	
}

td.fileview {
	padding-left:  3px;
	padding-right: 3px;
	padding-top:   3px;
	text-align:    left;
}

/* Development Submenu */
.calendar_page {
	width: 900px;
	height: 700px;
};

.SVG_demo {
	width: 400px;
	height: 300px;	
}

.tableSort_demo {
	width: 400px;
	height: 300px;	
}

.colorChart {
	width: 1200px;
	height: 1400px;
	
=======
/* Site defaults */
:root {
	--main-bg-color:    rgb(255,250,250,1);
	--main-text-color:  rgb(40,40,40);
	--main-font:        Helvetica, Arial, sans-serif;
}


/* Home page elements */
#portraitDean {
    border: 1px solid #ddd;
	float: left;
    border-radius: 10px;
    padding: 5px;
	box-shadow: 10px 10px 5px grey;
	margin-right: 20px;
	margin-bottom: 20px;
}
#portraitDean.p {
	color: maroon;
}

.blog {
	font-family: var(--main-font);
	font-size: 18px;	
	color: darkred;
	text-align: center;
	margin-left: 2em;
}

div.container{
    width: 100%;
    border: 1px solid gray;
	flex-direction: row;
	justify-content: flex-end;
}

.date {
	text-decoration: underline;
	font-weight: bold;
}
	
ul.mySubMenu :first-child {
	margin-top: 5px;
}	
ul.mySubMenu :last-child {
	margin-bottom: 5px;	
}
li.mySubMenu {
	border: 3px inset;
	margin: 1px 10px 1px 20px;
	padding: 5px 5px 5px 5px;
/*	border-width: 2px 2px 2px 2px;
	border-top: 0px; 
	border-right: 0px;*/
}


.mySubMenu {
	position: relative;
	display: block;
}

/* resume page */

.resume {
	height: 600px;
	width:   75%;
}

body {
	background-color: 	var(--main-bg-color);
	font-family: 		var(--main-font);
	}
	
header {
    padding: 1em;
    color: Black;
    background: linear-gradient(rgb(230,210,210) ,var(--main-bg-color));
    clear: left;
    text-align: left;
	font-size: 18px;
}

footer {
    padding: 1em;
	font-size: 12px;
    color: black;
    background: linear-gradient(white, rgb(245,240,240));
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 180px;
    margin: 0px 3px 0px 3px;
    padding: 5px 5px 5px 5px;

}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
	border: 1px solid #000;
	padding: 2px 2px 2px 2px;
	margin-top: 2px;
	border-radius: 4px;
	background: rgb(250,240,240);
	border-style: inset;

}
nav li:hover {
	background: rgb(230,210,210);	
}  
  
nav ul a {
    text-decoration: none;
}
/*
.submenu {
	border: none;
}
*/
content{
	margin-top: 10px;
/*    border: 1px solid pink; */
	color: black; 
	font-size: 18; 
    overflow: hidden;
	margin-left: 20px;
	margin-right: 0px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
}

table { 
	color: #333;
	border: 1px solid;
	font-family: monospace;
	font-size: 12px;
	border-collapse: seperate;
	empty-cells: hide;
	border-radius: 10px;
	border-spacing: 0; 
}

table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

table thead:first-child td:first-child {
    border-top-left-radius: 10px;
}

table thead:first-child td:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

thead 
{
	color: (16,16,16);
	font-family: ariel;
	font-size: 14;
}

th {
	font-weight: bold;
	border: 1px solid transparent; /* No more visible border */
	transition: all 0.3s;          /* Simple transition for hover effect */
	padding: 6px 12px;
}

th:hover {
	background-color: rgb(230,210,210);
	cursor: pointer;
}

td {
	text-align: left;
	border: 1px solid transparent; /* No more visible border */
	transition: all 0.3s;          /* Simple transition for hover effect */
	padding: 6px 12px;
}

tr:nth-child(even) td { background: #F1F1F1; }   
tr:nth-child(odd) td { background: #FEFEFE; }  
/* tr td:hover { background: #FAA; color: #FFF; } */

/* specific menu items 
	 -- better to move to seperate .css?
*/

table.fileview {
	color:            #222;
	border:           2px solid;
	font-family:      monospace;
	font-size:        18px;
	border-collapse:  seperate;
	empty-cells:      hide;
	border-radius:    10px;
	border-spacing:   4px; 	
}

td.fileview {
	padding-left:  3px;
	padding-right: 3px;
	padding-top:   3px;
	text-align:    left;
}

/* Development Submenu */
.calendar_page {
	width: 900px;
	height: 700px;
};

.SVG_demo {
	width: 400px;
	height: 300px;	
}

.tableSort_demo {
	width: 400px;
	height: 300px;	
}

.colorChart {
	width: 1200px;
	height: 1400px;
	
>>>>>>> cb97fa344060fddee1b1b68722c1e6b281f454c7
}